backend:
  name: github
  repo: POISED-GENTLEMEN/poised-growth-hub  # your repo name
  branch: main
  auth_scope: repo
  base_url: https://site.poisedgentlemen.com
  auth_endpoint: api/auth


media_folder: "public/uploads"
public_folder: "/uploads"

collections:
  - name: "posts"
    label: "Posts"
    folder: "src/content/posts"
    create: true
    slug: "{{slug}}"
    fields:
      - { label: "Title", name: "title", widget: "string" }
      - { label: "Date", name: "date", widget: "datetime" }
      - { label: "Image", name: "image", widget: "image" }
      - { label: "Body", name: "body", widget: "markdown" }
